/*
Error: Invalid CSS after "...als/login.scss'": expected "{", was ";"
        on line 35 of C:\Users\Andrea\Documents\NetBeansProjects\UnivApp\www\scss\style.scss

30: @import 'partials/navbar-header.scss';
31: @import 'partials/profilo.scss';
32: @import 'partials/modificaProfilo.scss';
33: @import 'partials/creaAnnuncio.scss';
34: <<<<<<< HEAD
35: @import 'partials/login.scss';
36: @import 'partials/signup.scss';
37: @import 'partials/filtri.scss';
38: =======
39: @import 'partials/paginaAnnuncio.scss';
40: >>>>>>> 753c6855d4e90dbe3cdcc80b8c4278cfdc80f763

Backtrace:
C:\Users\Andrea\Documents\NetBeansProjects\UnivApp\www\scss\style.scss:35
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1179:in `expected'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1115:in `expected'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:1110:in `tok!'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:655:in `block'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:649:in `ruleset'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:674:in `block_child'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:667:in `block_contents'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:126:in `stylesheet'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/scss/parser.rb:42:in `parse'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:403:in `_to_tree'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:378:in `_render_with_sourcemap'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/engine.rb:295:in `render_with_sourcemap'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:412:in `run'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/sass_scss.rb:63:in `process_result'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/base.rb:52:in `parse'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/lib/sass/exec/base.rb:19:in `parse!'
C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/sass-3.4.20/bin/sass:13:in `<top (required)>'
C:/Ruby22-x64/bin/sass:23:in `load'
C:/Ruby22-x64/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...als/login.scss'\": expected \"{\", was \";\"\A         on line 35 of C:\Users\Andrea\Documents\NetBeansProjects\UnivApp\www\scss\style.scss\A \A 30: @import 'partials/navbar-header.scss';\A 31: @import 'partials/profilo.scss';\A 32: @import 'partials/modificaProfilo.scss';\A 33: @import 'partials/creaAnnuncio.scss';\A 34: <<<<<<< HEAD\A 35: @import 'partials/login.scss';\A 36: @import 'partials/signup.scss';\A 37: @import 'partials/filtri.scss';\A 38: =======\A 39: @import 'partials/paginaAnnuncio.scss';\A 40: >>>>>>> 753c6855d4e90dbe3cdcc80b8c4278cfdc80f763"; }
