<div class="annuncio-conteiner-f">
    <div class="mostrafoto-f">
        <div>
            
            <div class="autore-f">
                Francesco C.<br>
                Rank:<br>super sayan
            </div>
        </div>
    </div>
            <h4 class="titolo-f">Titolo Annuncio:</h4>
            <h5 class="titolo2-f"><br> "Fondamenti di programmazione 1"</h5>
            
    <div class="lorenzopaga">
        <button class="free-or-pay" id="gratis"><i class="fa fa-hand-peace-o"></i></button>
        <button class="free-or-pay" id="pay"><i class="fa fa-euro"></i></button>
    </div>
    <div class="text-f">
        descrizione annuncio:<br>   
        <p class="testoannuncio-f"> Sono disponibile per chiarimenti e ripetizioni di fondamenti di programmazione uno e/o per vendita di appunti </p>
    </div>
    
</div>
