/* 
    Created on : 22-gen-2016, 19.24.37
    Author     : Federico93
*/

.ProfiloImg{
    height: 250px;
    width : 100%;
    border-radius: 0px 0px 5px 5px;
    background-image: url("../img/myimg.png");
    background-size: 100% 100%;
}

.UserName{
    height: 50px;
    line-height: 50px;
    width: 100%;
    position: relative; 
    padding-top: 200px;
    background: none;
    color: $primary-color-text;
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
}

.MyContainer1{
    width: 100%;
    min-height: 60px;
    padding: 10px 15px;   
    background-color: $primary-color-text;
    -webkit-box-shadow: 0px 0px 1px $divider-color;
    -ms-box-shadow: 0px 0px 1px $divider-color;
}

.MyContainer2{
    height: 60px;
    line-height: 60px;
    width: 100%;
    padding-right: 15px;
}

@mixin no_outline_green_box_shadow{
    border: 1px 0px solid $primary-color;
    &:focus{
        outline: none;
        -webkit-box-shadow: 0px 0px 5px $primary-color;
        -ms-box-shadow: 0px 0px 5px $primary-color;
    }
    &:hover{
        outline: none;
        -webkit-box-shadow: 0px 0px 5px $primary-color;
        -ms-box-shadow: 0px 0px 5px $primary-color;
    }
    &:active{
        outline: none;
        -webkit-box-shadow: 0px 0px 5px $primary-color;
        -ms-box-shadow: 0px 0px 5px $primary-color;
    }
}


#RankP, #RankM{
    display: inline-block;
    float: right;
    height: 40px;
    line-height: 40px;
    width: 40px;
    background-color: $primary-color;
    color: $primary-color-text;
    font-size: 20px;
    text-align: center;
    border-radius: 100px;
    border: none;
    margin-top: 10px;
    padding : 0;
    &#RankP{
        margin-left: 1px;
    }
    &#RankM{
        margin-right: 1px;
    }
    @include no_outline_green_box_shadow;
}



input.ModificaProfiloInput{
    height: 40px;
    line-height: 40px;
    padding-left: 5px;
    margin: 5px 0px;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 1px;
    @include no_outline_green_box_shadow;
}

input.Ranking1{
    min-height: 40px;
    line-height: 40px;
    padding-left: 5px;
    margin: 0px 0px;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 1px;
    display:inline-block;
    width: 60%;
    @include no_outline_green_box_shadow;
}

input.Esame1{
    min-height: 40px;
    line-height: 40px;    
    font-style: italic;
    padding-left: 5px;
    margin: 5px 0px;
    text-transform: capitalize;
    font-size: 15px;
    letter-spacing: 1px;
    @include no_outline_green_box_shadow;

}

.Titolo1{
    height: 40px;
    line-height: 40px;
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 1px;
    color: $primary-text-color;
    margin-bottom: 5px;
}

div .MyBtn{
    height: 50px;
    line-height: 50px;
    border: none;
    margin: 0px;
    bottom: 0px;
    text-align: center;
    &.first-child{
        border-bottom: 1px solid $divider-color;
    }
    &.last-child{
        border-top: 1px solid $divider-color;
    }
    &:focus{
        outline: none;
    }
    &:hover{
        outline: none;
    }
    &:active{
        outline: none;
    }

}

.MyBtn{
    background-color: $primary-color;
    text-transform: capitalize;
    color: $primary-color-text;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline;
    float: left;    

}

.Btn-addEsame{
    height: 40px;
    width: 40px;
    float: right;
    border: none;
    border-radius: 20px;
    outline: none;
    text-align: center;
    color: $primary-color-text;
    background-color: $primary-color;
    font-size: 30px;
    display: block;
}





