/* 
    Created on : 19-gen-2016, 20.01.44
    Author     : Andrea
*/
.univapp-header-nav{
    font-size: 18px;
    position : absolute;
    top : 0;
    left : 0;
    right : 0;
    /*text-align: center;*/
    height: $univapp-header-height;
    line-height: $univapp-header-height;
    background-color: $primary-color-dark;
    color : $primary-color-text;
    z-index: 50;
}
.univapp-header-btn{
    z-index: 50;
    position : absolute;
    top : $univapp-header-height;
    left : 0;
    right : 0;
    text-align: center;
    height: $univapp-header-btn-height;
    line-height: $univapp-header-height;
    background-color: $primary-color-dark;
    transition-duration: 0.5s; 
        -webkit-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
    &.aperto{
        transform: translate(0,$univapp-header-height) translateZ(0);
        -webkit-transform: translate(0,$univapp-header-height) translateZ(0);
        -ms-transform: translate(0,$univapp-header-height) translateZ(0);
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
    }
    &.nascosta{
      display : none;   
    }
}
#content.univapp-container{
    height: 100%;
    position: absolute;
    top: 100px;
    padding-bottom : $univapp-header-height+$univapp-header-height;
    overflow: auto;
    transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
    &.aperto{
        padding-bottom : $univapp-header-height+$univapp-header-menu-height+$univapp-header-height;
        transform: translate(0,$univapp-header-height) translateZ(0);
        -webkit-transform: translate(0,$univapp-header-height) translateZ(0);
        -ms-transform: translate(0,$univapp-header-height) translateZ(0);
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
    }
}
.myhrmenu-box{
    height: $univapp-header-height;
    width: $univapp-header-height;
    padding: 12px 14px;
    &.aperto{
        .myhrmenu2{
            display:none;
            transition-duration: 0.5s;
            -webkit-transition-duration: 0.5s;
            -ms-transition-duration: 0.5s;
        }
        .myhrmenu3{
            transform: rotate(-45deg) translateZ(0);
            -webkit-transform: rotate(-45deg) translateZ(0);
            -ms-transform: rotate(-45deg) translateZ(0);
            transition-duration: 0.5s;
            -webkit-transition-duration: 0.5s;
            -ms-transition-duration: 0.5s;
        }
        .myhrmenu1{
            transform: rotate(45deg) translateZ(0);
            -webkit-transform: rotate(45deg) translateZ(0);
            -ms-transform: rotate(45deg) translateZ(0);
            transition-duration: 0.5s;
            -webkit-transition-duration: 0.5s;
            -ms-transition-duration: 0.5s;
            position: relative;
            top: 6px;
            left: 0;
            bottom: 0;
            right: 0;

        }
    }
}


.myhrmenu,
.myhrmenu1,
.myhrmenu2,
.myhrmenu3{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid $primary-color-text;
    border-radius : 100px;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
}
.myhrmenu-x{
    position: relative;
    top :0;
    right: 0;
    width: 10px;
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
    transform: rotate(-45deg);
}
.myhrmenu-xx{
    bottom : 0;
    right: 0;
    width: 10px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
.myhrmenu-box-back{
    padding: 15px;
    margin-right: 10px;
    height: $univapp-header-height;
    width : $univapp-header-height;
}
.univapp-header-button{
    width : 50%;
    height: ($univapp-header-btn-height)-$line-selector-height;
    text-align: center;
    color : $primary-color-light;
    &.attivo{
        color : $primary-color-text;
    }
}
.line-selector{
    position: absolute;
    height: $line-selector-height;
    width: 50%;
    background-color: $primary-color-text;
    bottom : 0;
    box-shadow : inset 0px 0px 1px $accent-color;
    -webkit-box-shadow : inset 0px 0px 1px $accent-color;
    -ms-box-shadow : inset 0px 0px 1px $accent-color;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    &.offerte{
    }
    &.richieste{
        transform: translate(100%) translateZ(0);
        -webkit-transform: translate(100%) translateZ(0);
        -ms-transform: translate(100%) translateZ(0);
        transform-origin: left;
        -webkit-transform-origin: left;
        -ms-transform-origin: left;
    }
}
.menu-row{
    height: $univapp-header-menu-height;
    line-height: $univapp-header-menu-height;
    width: 100%;
    background-color : $primary-color;
    z-index: 49;
    top  : 50px;
    transition-duration: 5s;
        -webkit-transition-duration: 0.5s;
        display : block;
    &.aperto{
        /*position: absolute;*/
        transform: translate(0,$univapp-header-height) translateZ(0);
        -webkit-transform: translate(0,$univapp-header-height) translateZ(0);
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
    }
}
.menu-row-item{
    height : $univapp-header-height;
    line-height: $univapp-header-height;
    font-size : 30px;
    color : $primary-color-text;
}
.buttonCreaAnnuncio{
    position : absolute;
    bottom : 20px;
    right: 20px;
    border-radius: 100px;
    background-color: $primary-color;
    box-shadow: 0px 0px 2px $primary-color;
    height: $univapp-header-height;
    line-height: $univapp-header-height;
    text-align: center;
    padding-top: 1px;
    padding-left: 1px;
    font-size: 25px;
    color : $primary-color-text;
    width: $univapp-header-height;
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
    &.nascosta{
        transform: translate(0,75px) translateZ(0);
        -webkit-transform: translate(0,75px) translateZ(0);
        -ms-transform: translate(0,75px) translateZ(0);
        transition-duration: 0.5s;
        -webkit-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
    }
}
#content.nascosta{
    top : 50px;
    padding-bottom: 50px;
}
.menu-filter-box{
    text-align: center;
    height: $univapp-header-height;
    width : $univapp-header-height;
    line-height: $univapp-header-height;
    font-size: 20px;
    color : $primary-color-text;
    display : none;
    &.visible{
            display : block;
        }
}
.pagina-filtri{
    position : absolute;
    background-color: $primary-color-light;
    bottom : 0px;
    left : 0;
    right: 0;
    height: 400px;
    width: 100%;
    transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -ms-transition-duration: .5s;
    z-index : 49;
    &.nascosto{
        transform: translate(0px,100%)translateZ(0);
        -webkit-transform: translate(0px,100%)translateZ(0);
        -ms-transform: translate(0px,100%)translateZ(0);
        transition-duration: .5s;
        -webkit-transition-duration: .5s;
        -ms-transition-duration: .5s;
    }
    
    
}