<div class="ProfiloImg">
    <div class="UserName">DioPorco93</div>
</div>
<div>
    <div class="MyContainer">
        <div class="Primary">Flaiano Federico</div>
        <div class="Secondary">3490862815</div>
    </div>

    <div class="MyContainer Ranking">Ranking</div>

    <div class="MyContainer">
        <div class="Primary">Università di L'aquila</div>
        <div class="Secondary">Informatica</div>
    </div>

    <div class="MyContainer">
        <div class="Titolo">Esami Sostenuti</div>
        <div class="Esami">
            Sistemi Operativi
            <br>
            Algoritmi
            <br>
            Laboratorio di Programmazione I
            <br>
            Laboratorio di Programmazione II
            <br>
            Laboratorio di Programmazione III
        </div>
    </div>  
</div>


