<div class="homepage-container">
    <div class="homepage-container-offerte attivo" id="homepage-container-offerte">
        <div class="box-annunci">
            <div class="col-xs-2 box-annunci-pay"><i class="fa fa-hand-peace-o"></i></div>
            <div class="col-xs-6 box-annunci-user">Andrea Lucioli</div>
            <div class="col-xs-4 pull-right box-annunci-date">22/14/2016</div>
            <div class="col-xs-12 box-annunci-title">Offresi Ripetizioni di Gesu</div>
            <div class="col-xs-12 box-annunci-description">
                Offresi Ripetizioni di Gesu ogni giorno quando volete sono un grande appasionato di quel porco crocifisso
            </div>
        </div>
        <div class="box-annunci">
            <div class="col-xs-2 box-annunci-pay"><i class="fa fa-hand-peace-o"></i></div>
            <div class="col-xs-6 box-annunci-user">Andrea Lucioli</div>
            <div class="col-xs-4 pull-right box-annunci-date">22/14/2016</div>
            <div class="col-xs-12 box-annunci-title">Offresi Ripetizioni di Gesu</div>
            <div class="col-xs-12 box-annunci-description">
                Offresi Ripetizioni di Gesu ogni giorno quando volete sono un grande appasionato di quel porco crocifisso
            </div>
        </div>
        <div class="box-annunci">
            <div class="col-xs-2 box-annunci-pay"><i class="fa fa-euro"></i></div>
            <div class="col-xs-6 box-annunci-user">Andrea Lucioli</div>
            <div class="col-xs-4 pull-right box-annunci-date">22/14/2016</div>
            <div class="col-xs-12 box-annunci-title">Offresi Ripetizioni di Gesu</div>
            <div class="col-xs-12 box-annunci-description">
                Offresi Ripetizioni di Gesu ogni giorno quando volete sono un grande appasionato di quel porco crocifisso
            </div>
        </div>
        <div class="box-annunci">
            <div class="col-xs-2 box-annunci-pay"><i class="fa fa-hand-peace-o"></i></div>
            <div class="col-xs-6 box-annunci-user">Andrea Lucioli</div>
            <div class="col-xs-4 pull-right box-annunci-date">22/14/2016</div>
            <div class="col-xs-12 box-annunci-title">Offresi Ripetizioni di Gesu</div>
            <div class="col-xs-12 box-annunci-description">
                Offresi Ripetizioni di Gesu ogni giorno quando volete sono un grande appasionato di quel porco crocifisso
            </div>
        </div>
    </div>
    <div class="homepage-container-richieste" id="homepage-container-richieste">
    
    <div class="box-annunci">
            <div class="col-xs-2 box-annunci-pay"><i class="fa fa-hand-peace-o"></i></div>
            <div class="col-xs-6 box-annunci-user">Andrea Lucioli</div>
            <div class="col-xs-4 pull-right box-annunci-date">22/14/2016</div>
            <div class="col-xs-12 box-annunci-title">cercasi Ripetizioni di Gesu</div>
            <div class="col-xs-12 box-annunci-description">
                Cercasi Ripetizioni di Gesu
            </div>
        </div>
    <div class="box-annunci">
            <div class="col-xs-2 box-annunci-pay"><i class="fa fa-euro"></i></div>
            <div class="col-xs-6 box-annunci-user">Andrea Lucioli</div>
            <div class="col-xs-4 pull-right box-annunci-date">22/14/2016</div>
            <div class="col-xs-12 box-annunci-title">cercasi Ripetizioni di Gesu</div>
            <div class="col-xs-12 box-annunci-description">
                Cercasi Ripetizioni di Gesu
            </div>
        </div>
    <div class="box-annunci">
            <div class="col-xs-2 box-annunci-pay"><i class="fa fa-hand-peace-o"></i></div>
            <div class="col-xs-6 box-annunci-user">Andrea Lucioli</div>
            <div class="col-xs-4 pull-right box-annunci-date">22/14/2016</div>
            <div class="col-xs-12 box-annunci-title">cercasi Ripetizioni di Gesu</div>
            <div class="col-xs-12 box-annunci-description">
                Cercasi Ripetizioni di Gesu
            </div>
        </div>
    <div class="box-annunci">
            <div class="col-xs-2 box-annunci-pay"><i class="fa fa-hand-peace-o"></i></div>
            <div class="col-xs-6 box-annunci-user">Andrea Lucioli</div>
            <div class="col-xs-4 pull-right box-annunci-date">22/14/2016</div>
            <div class="col-xs-12 box-annunci-title">cercasi Ripetizioni di Gesu</div>
            <div class="col-xs-12 box-annunci-description">
                Cercasi Ripetizioni di Gesu
            </div>
        </div>
    <div class="box-annunci">
            <div class="col-xs-2 box-annunci-pay"><i class="fa fa-hand-peace-o"></i></div>
            <div class="col-xs-6 box-annunci-user">Andrea Lucioli</div>
            <div class="col-xs-4 pull-right box-annunci-date">22/14/2016</div>
            <div class="col-xs-12 box-annunci-title">cercasi Ripetizioni di Gesu</div>
            <div class="col-xs-12 box-annunci-description">
                Cercasi Ripetizioni di Gesu
            </div>
        </div>
    
    </div>
</div>
