<div class="ProfiloImg">
    <div class="UserName">DioPorco93</div>
</div>

<div>
    <form role="form" class="MyContainer1">
        <input type="text" placeholder="UserName" name="UserName" class="ModificaProfiloInput">
        <input type="text" placeholder="Cognome Nome" name="CognomeNome" class="ModificaProfiloInput">
        <input type="tel" placeholder="Numero" name="Numero" class="ModificaProfiloInput">
    </form>


    <form role="form" class="MyContainer1">
        <input type="text" placeholder="Ranking" name="Ranking" class="Ranking1">
    </form>


    <form role="form" class="MyContainer1">
        <input type="text" placeholder="Universita" name="Universita" class="ModificaProfiloInput">
        <input type="text" placeholder="Facolta" name="Facolta" class="ModificaProfiloInput">
    </form>


    <div class="MyContainer1">
        <div class="Titolo1">Esami Sostenuti<button class="Btn-newEsame" id="Btn-newEsame">+</button></div>
        <div id="ContainerEsami">
            <input type="text" placeholder="Nome Esame" name="nomeEsame" class="Esame1" id="Esame1">
        </div>
    </div>

    <form role="form">
        <div>
            <button class="MyBtn col-xs-6">Annulla</button>  
            <button class="MyBtn col-xs-6">Conferma</button>
        </div>    
    </form>
</div>    