<div class="ProfiloImg">
    <div class="UserName">DioPorco93</div>
</div>

<div>
    <form role="form" class="MyContainer1">
        <input type="text" placeholder="UserName" name="UserName" class="ModificaProfiloInput">
        <input type="text" placeholder="Cognome Nome" name="CognomeNome" class="ModificaProfiloInput">
        <input type="tel" placeholder="Numero" name="Numero" class="ModificaProfiloInput">
    </form>

    <div class="MyContainer2">
        <div class="Star star3 col-xs-8">
            <i class="fa fa-star sstar1"></i>
            <i class="fa fa-star sstar2"></i>
            <i class="fa fa-star sstar3"></i>
            <i class="fa fa-star sstar4"></i>
            <i class="fa fa-star sstar5"></i>
        </div>
        <button class="col-xs-2 RankBtn" id="RankP"><i class="fa fa-plus"></i></button>
        <button class="col-xs-2 RankBtn" id="RankM"><i class="fa fa-minus"></i></button>
    </div>


    <form role="form" class="MyContainer1">
        <input type="text" placeholder="Universita" name="Universita" class="ModificaProfiloInput">
        <input type="text" placeholder="Facolta" name="Facolta" class="ModificaProfiloInput">
    </form>


    <div class="MyContainer1">
        <div class="Titolo1">Esami Sostenuti<button class="Btn-addEsame" id="Btn-addEsame">+</button></div>
        <div id="ContainerEsami">
            <input type="text" placeholder="Nome Esame" name="nomeEsame" class="Esame1" id="Esame1">
        </div>
    </div>

    <form role="form">
        <div>
            <button class="MyBtn col-xs-6">Annulla</button>  
            <button class="MyBtn col-xs-6">Conferma</button>
        </div>    
    </form>
</div>    