<div class="login-container text-center">
    <img src="img/UA.png" class="UA-img">
    <form role="form" id="signUpForm">
        <input type="text" name="user" placeholder="User" class="login-input"/>
        <input type="password" name="psw" placeholder="Password" class="login-input"/>
        <input type="password" name="psw1" placeholder="Reimmetere Password" class="login-input"/>
    </form>
    <div class="signup-margin">
    <button class="login-button" id="btn-registrati">Registrati</button>
    </div>
</div>