<div class="creaAnnuncio-container">
    
    <input type="text" name="titoloAnnuncio" class="form-control creaAnnuncio-title" placeholder="inserire qui il titolo del tuo annuncio"/>
    <div class="text-center creaAnnuncio-container-freePay">
        <div class="clearfix">
            <label>Scegliere se l'offerta dell'annuncio è <br> gratis o a pagamento</label>
            </div>
    <button class="free-or-pay" id="gratis"><i class="fa fa-hand-peace-o"></i></button>
    <button class="free-or-pay" id="pay"><i class="fa fa-euro"></i></button>
    </div>
    <textarea name="descrizioneAnnuncio" class="descrizioneAnnuncio" placeholder="inserire qui la descrizione del tuo annuncio" rows="5"></textarea>
</div>
<button class="creaAnnuncio-btn-pubblica">Publica Annuncio</button>